.h1{
    text-align: center;
    margin-top: 50px;
}
.container{
    margin-top: 30px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0-15px;

}
.col-md-4{
    flex-basis: 33,33%;
    max-width: 33,33%;
    padding: 015px;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
    