.h1{
    text-align: center;
    margin-top: 50px;
}
.container{
    margin-top: 30px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0-15px;

}
.col-md-4{
    flex-basis: 33,33%;
    max-width: 33,33%;
    padding: 015px;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
/*responsive navigation*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: aliceblue;
    color: #1e1d1d;

}
.navbar-brand{
    font-size: 24px;
    font-weight: bold;
}
.navbar-nav{
    display: flex;
    list-style: none;

}  
.nav-bar li{
    margin-right: 15px;
}
.navbar-nav li a{
    color: #0994f1;
    text-decoration: none;
    transition: color 0.3s ease-in;
}
.navbar-nav li a:hover{
    color: #000;
}

